.pan-controller {
  position: absolute;
  bottom: 80px;
  right: 80px

}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  opacity: 0.5;
}

.data-wrapper > div {
  text-align: center;
}
