.bg {
  background-size: cover !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: 1s ease-in-out;
  background-image: url("../../../../assets/images/bg.jpg");
}
