@import "../../../../../styles/variables";

.wrapper {
  min-width: 200px;
  overflow: hidden;
  width: 800px;
  flex-grow: 1;
}

.header {
  color: white;
  background-color: $primary;
  padding: $margin-small $margin-medium;

  h3 {
    font-size: $font-size-big;
    margin: 0;
    color: $accent;
  }
}

.image-wrapper {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-wrapper img {
  width: 100%;
}

.settings {
  position: absolute;
  right: 50px;
  display: flex;
  transition: width 0.5s ease-in-out;
  width: calc(100% - 50px);
  overflow: hidden;
  background: #3f51b5;
  justify-content: flex-end;
  z-index: 1;
  max-height: 53px;
  align-items: center;
}

.settings-button {
  transition: transform 0.5s ease-in-out;
}

.settings-button.rotate {
  transform: rotate(90deg);
}

.settings.hidden {
  width: 0;
}

.ip {
  width: 100px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: scale(1.5);
  }
}

.awb {
  width: 120px;
}

.turning-on {
  height: 0;
  color: #c9c9c9;
  overflow: hidden;
  font-size: 12px;
  transition: all 0.25s ease-in-out;
}

.turning-on.rollup {
  height: 20px;
}

.no-video {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  color: white;
}

.cursor {
  position: absolute;
  top: 206px;
  left: 282px;
  color: white;
  text-shadow: 0 0 8px black;
}

.status {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    margin-right: $margin-medium;
  }
}

.timer {
  font-size: $font-size-big;
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: $margin-small;
  }
}
