<div class="wrapper">
  <div class="header">
    <h3>Arena "The Forest"</h3>
    <div class="timer">
       <mat-icon>timer</mat-icon> 3:00
    </div>
    <div class="status">
      <div>Robot&nbsp;<strong> Mibaro Ranger 1</strong></div>
      <div><mat-icon>battery_charging_full</mat-icon> <strong>70%</strong></div>
      <div>{{temperature}} °C</div>
    </div>
    <!--<div class="flex-middle">-->
      <!--<div class="flex">-->
        <!--<mat-slide-toggle class="margin-right" (change)="toggleCamera($event)" labelPosition="before">Turn on camera</mat-slide-toggle>-->
        <!--<mat-slide-toggle class="margin-right" *ngIf="isCameraOn" (change)="toggleVR($event)" labelPosition="before">VR</mat-slide-toggle>-->
        <!--<div [ngClass]="{rollup: waitingForVideo}" class="turning-on">turning on...</div>-->
      <!--</div>-->
      <!--<button mat-icon-button *ngIf="isCameraOn && !waitingForVideo" (click)="downloadPhoto()">-->
        <!--<mat-icon aria-label="Take photo">cloud_download</mat-icon>-->
      <!--</button>-->
      <!---->
    <!--</div>-->
    <!--<div class="flex flex-middle">-->
      <!--<div [ngClass]="{hidden: !showSettings}" class="settings">-->
        <!--<mat-form-field class="ip select-white" floatLabel="never">-->
          <!--<mat-select placeholder="IP address" [(ngModel)]="IP">-->
            <!--<mat-option [value]="activeRobot?.basicInfo?.localIp">Local IP</mat-option>-->
            <!--<mat-option [value]="activeRobot?.basicInfo?.publicIp">Public IP</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <!--<button mat-icon-button (click)="toggleSettings()" class="margin-right settings-button" [ngClass]="{rotate: !showSettings}">-->
        <!--<mat-icon aria-label="Settings">settings</mat-icon>-->
      <!--</button>-->
    <!--</div>-->
  </div>
    <div class="image-wrapper" *ngIf="isCameraOn">
      <div class="cursor"><mat-icon>close</mat-icon></div>
      <img [src]="'http://' + IP + ':8080/?action=stream'" (error)="tryToLoadImage()"/>
    </div>
    <div class="image-wrapper" *ngIf="!isCameraOn">
      <div class="no-video">No video</div>
    </div>
</div>
