// *********************** COMMON UNIVERSAL STYLES USABLE CROSS THE PAGE *************************

.margin-top {
  margin-top: 15px !important;
}

.margin-right {
  margin-right: 15px !important;;
}

.margin-bottom {
  margin-bottom: 15px !important;;
}

.margin-left {
  margin-left: 15px !important;;
}

.padding-top {
  padding-top: 15px !important;;
}

.padding-right {
  padding-right: 15px !important;;
}

.padding-bottom {
  padding-bottom: 15px !important;;
}

.padding-left {
  padding-left: 15px !important;;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.flex {
  display: flex;
}

.flex-middle {
  align-items: center;
}
