// ****************************** MATERIAL DESIGN SPECIFIC DESIGN *************************************
//@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./material-theme";
@import "./variables";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mat-expansion-indicator::after {
  color: white;
}

.mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: rgba($primary, 0.6);
}

.mat-expansion-panel {
  background: rgba($primary, 0.8);
}

.mat-expansion-panel-content {
  background: transparent;
}

mat-panel-title {
  color: $white !important;
}

.select-white .mat-select-value, .select-white .mat-select-arrow {
  color: white;
}

.select-white .mat-form-field-underline {
  background-color: white;
}

.settings-toggle {
  .mat-slide-toggle-content {
    width: 20vw;
  }
}
