@import "./material.scss";
@import "./common.scss";
@import "./variables.scss";
@import '~animate.css/animate';

body {
  min-height: 100vh;
  margin: 0;
  background: $dark; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, $primary 0%, $dark 100%) ; /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, $primary 0%, $dark 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, $primary 0%, $dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: 'Kanit', sans-serif;
  font-size: $font-size-medium;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', cursive;
}

a {
  color: $accent;
}
