$white: #fff;
$accent: khaki;
$primary: #242424;
$dark: #191919;

$font-size-big: 20px; // for heading
$font-size-medium: 14px; // for common texts
$font-size-small: 10px; // for notes, tooltips etc.

$margin-big: 28px;
$margin-medium: 14px;
$margin-small: 7px;
