:host {
  position: relative;
}

.panels-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.robots-wrapper {
  font-size: 14px;
}

.connection-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  flex-grow: 1;
}

.check-connection {
  color: #c9c9c9;
  font-size: 12px;
}

.connection-text {
  line-height: 14px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  height: initial;
}

.container {
  margin: 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-control-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.settings-wrapper {
  width: 640px;
}

@media screen and (max-width: 480px) {
  .title {
    display: none;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
