<mat-card class="wrapper margin-bottom no-padding-bottom no-padding-left no-padding-right">
  <mat-card-header class="header">
    <mat-card-title><h3>Photo vision</h3></mat-card-title>
    <div>
      <a mat-icon-button *ngIf="image" (click)="toggleImage()">
        <mat-icon *ngIf="showImage" aria-label="Collapse">expand_less</mat-icon>
        <mat-icon *ngIf="!showImage" aria-label="Expand">expand_more</mat-icon>
      </a>
      <button mat-icon-button (click)="takePhoto()" class="margin-right" [ngClass]="{'take-photo-button': takingPhoto}">
        <mat-icon aria-label="Take photo">photo_camera</mat-icon>
      </button>
      <button mat-icon-button *ngIf="image" (click)="downloadPhoto()">
        <mat-icon aria-label="Take photo">cloud_download</mat-icon>
      </button>
    </div>
    <div class="flex flex-middle">
      <div [ngClass]="{hidden: !showSettings}" class="settings">
        <mat-form-field floatLabel="never" class="resolution select-white">
          <mat-select [(value)]="resolution">
            <mat-option *ngFor="let res of resolutions" [value]="res.value">{{res.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="quality select-white">
          <mat-select [(value)]="quality">
            <mat-option *ngFor="let q of qualities" [value]="q">{{q}} %</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="awb select-white">
          <mat-select [(value)]="awb">
            <mat-option *ngFor="let item of awbs" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-icon-button (click)="toggleSettings()" class="margin-right settings-button" [ngClass]="{rotate: !showSettings}">
        <mat-icon aria-label="Settings">settings</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="image">
    <div class="image-wrapper">
      <img *ngIf="showImage" [src]="'data:image/jpeg;base64, ' + image | safeHtml" />
    </div>
  </mat-card-content>
</mat-card>
