<mat-card class="wrapper margin-bottom">
  <mat-card-header class="header">
    <mat-card-title><h3>Terminal</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-top">
    <div class="content">
      <mat-form-field class="margin-right input">
        <input matInput placeholder="Command" [(ngModel)]="command" (keyup.enter)="sendCommand()">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendCommand()">Send</button>
    </div>
    <div class="terminal-stack" [innerHtml]="terminalStack"></div>
  </mat-card-content>
</mat-card>
