<mat-card class="wrapper">
  <mat-card-header class="header first">
    <mat-card-title><h3>Sensor data</h3></mat-card-title>
    <mat-slide-toggle  class="margin-right" (change)="autoRefreshChanged($event)" labelPosition="before">Auto refresh</mat-slide-toggle>
  </mat-card-header>
  <mat-card-content class="margin-top">
    <ul>
      <li>Gyro data (x,y, z - rotation)</li>
      <li>Altitude</li>
      <li>Latitude</li>
      <li>Longitude</li>
      <li>Speed</li>
    </ul>
  </mat-card-content>


  <mat-card-header class="header">
    <mat-card-title><h3>System data</h3></mat-card-title>
    <mat-slide-toggle  class="margin-right" (change)="autoRefreshChanged($event)" labelPosition="before">Auto refresh</mat-slide-toggle>
  </mat-card-header>
  <div class="battery-wrapper">
    <div>Battery: {{batteryLevel}}%</div>
    <button mat-icon-button color="primary" (click)="getBattery()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>


  <mat-card-actions class="actions">
    <button mat-raised-button color="primary" (click)="getData()">Get data</button>
  </mat-card-actions>
</mat-card>
