:host {
  flex-grow: 1;
}

.wrapper {
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #4054B2;
  margin: 0 -24px;
}

.first {
  margin-top: -24px !important;
}

.actions {
  display: flex;
  justify-content: center;
}

.battery-wrapper {
  display: flex;
  align-items: center;
}


