<mat-accordion class="wrapper">
  <mat-expansion-panel>
    <mat-expansion-panel-header appButton>
      <mat-panel-title>
        Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="trimmer">
      <div class="label">Trim steering</div>
      <mat-slider min="-0.5" max="0.5" step="0.02" [thumbLabel]="true" class="slider"
                  (change)="handleChangeTrimmerValue($event)" [value]="trimmerValue"
                  [displayWith]="renderThumb.bind(this)"></mat-slider>
    </div>
    <div class="keyboard settings-toggle">
      <mat-slide-toggle appButton [checked]="allowKeyboard" labelPosition="before" (change)="controlWithKeyboardChanged($event)">Keyboard</mat-slide-toggle>
      <div class="speed animated faster" [ngClass]="{fadeInDown: allowKeyboard, fadeOutUp: !allowKeyboard}">
        <mat-icon>subdirectory_arrow_right</mat-icon>
        <div class="label speed">Speed</div>
        <mat-slider min="0" max="1" step="0.05" [thumbLabel]="true"
                    (change)="handleChangeSpeed($event)" [value]="speed"
                    [displayWith]="renderThumb.bind(this)"></mat-slider>
      </div>
    </div>.
    <div class="joystick settings-toggle">
      <mat-slide-toggle [checked]="allowJoystick" labelPosition="before" (change)="controlWithJoystickChanged($event)">Virtual joystick</mat-slide-toggle>
    </div>
    <div class="trimmer">
      <div class="label">Sounds volume</div>
      <mat-slider min="0" max="1" step="0.1" [thumbLabel]="true" class="slider"
                  (change)="handleChangeSoundsVolume($event)" [value]="soundsVolume"
                  [displayWith]="renderThumb.bind(this)"></mat-slider>
    </div>
    <div class="trimmer">
      <div class="label">Music volume</div>
      <mat-slider min="0" max="1" step="0.1" [thumbLabel]="true" class="slider"
                  (change)="handleChangeMusicVolume($event)" [value]="musicVolume"
                  [displayWith]="renderThumb.bind(this)"></mat-slider>
    </div>
  </mat-expansion-panel>
</mat-accordion>
