@import "../../../../../styles/variables";

:host {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: fixed;
  bottom: 0;
  width: 800px;
  z-index: 2000;

  mat-slider {
    flex-grow: 1;
  }
}

.trimmer, .speed, .joystick {
  display: flex;
  align-items: center;
  color: $white;
}

.speed {
  margin-left: $margin-medium;
  transition: height 0.5s ease-in-out;
  &.fadeInDown {
    height: 50px;
  }

  &.fadeOutUp {
    height: 0px;
  }
}

.keyboard {
  color: $white;
}

.label {
  width: 20vw;

  &.speed {
    margin-right: -52px;
  }
}
