@import "../../../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 300px;
  background: $primary;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}
