<div class="wrapper" appButton *ngIf="arena">
  <h3>{{arena.name}}</h3>
  <span>2 of 4 Mibaros are free</span>
  <div *ngFor="let robot of arena.robots" (click)="selectRobot(robot)">
    {{robot.name}}
    <div class="connection-text">
      {{robotActive ? 'ONLINE' : 'OFFLINE'}}
      <div class="check-connection" *ngIf="isPinging">checking...</div>
    </div>
  </div>
</div>
