<div *ngIf="allowKeyboard" class="control">
  <mat-icon>keyboard</mat-icon>
  <div class="direction">
    <span  *ngIf="left === right">{{dir === 0 ? 'STOP' : dir === 1 ? '↑' : '↓'}}</span>
    {{left > 0 && right === 0 ? '→' : ''}}
    {{right > 0 && left === 0 ? '←' : ''}}
  </div>
</div>
