:host {
  display: flex;
  align-items: center;
  color: white;
  font-size: 13px;
  height: 48px;
  position: absolute;;
}

.control {
  display: flex;
  align-items: center;
}

.slider {
  min-width: 0;
  width: 100px;
}
